@media (min-width: 1220px) {
    .container {
        max-width: 1200px
    }
}

@media (max-width: 1219.98px) {
    .single-pricing-plan p {
        padding: 0 20px 15px
    }

    .single-pricing-plan ul {
        padding: 0 20px
    }
}

@media (max-width: 1199.98px) {
    .register-button .btn {
        padding: 8.5px 0
    }

    .post-content {
        padding: 25px 20px
    }

    .our-clients li:not(:first-child) {
        margin-left: 10px
    }

    .single-feature {
        padding: 25px 15px 25px
    }

    .domain-price li + li {
        margin-left: 15px
    }

    .tag-cat li {
        margin: 0 !important;
        display: block !important
    }

        .tag-cat li:first-child {
            margin-bottom: 10px !important
        }
}

@media (min-width: 992px) {
    header:not(.sticking) .header-menu > ul > li.active > a {
        color: #fff !important
    }
}

@media (max-width: 991.98px) {
    .pt-175, .pt-120 {
        padding-top: 100px
    }

    .pb-175, .pb-120 {
        padding-bottom: 100px
    }

    .sticking .header-menu > ul > li > a:after, .sticking .header-menu > ul > li.active > a:after, .sticking .header-menu > ul > li:hover > a:after {
        background-color: transparent !important
    }

    .header-menu > ul > li.active > a {
        color: #2e5ae8
    }

    .header-menu ul ul li a:hover:before, .header-menu ul ul li.active a:before, .header-menu ul ul li:hover > a:before {
        opacity: 0
    }

    .sticking {
        padding-top: 10px !important;
        padding-bottom: 10px !important
    }

    .main-header .container .row {
        position: relative
    }

        .main-header .container .row > div:nth-child(2n) {
            position: initial
        }

    .header-menu > ul > li {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0px !important
    }

        .header-menu > ul > li:first-child {
            border-top: 0px !important
        }

    .header-menu ul li a {
        color: #1b435d;
        padding: 12px 15px !important
    }

    .header-menu ul ul li a {
        padding-left: 30px !important;
        width: auto
    }

    .header-menu {
        text-align: right;
        position: initial
    }

        .header-menu > ul {
            position: absolute !important;
            top: 43px !important;
            left: 15px !important;
            width: calc(100% - 30px) !important;
            background: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            max-height: 350px;
            overflow-y: auto
        }

            .header-menu ul, .header-menu ul ul, .header-menu ul ul ul, .header-menu > ul, .header-menu.align-center > ul, .header-menu > ul > li > ul, .header-menu > ul > li:hover > ul, .header-menu ul ul li:hover > ul {
                position: relative;
                left: 0;
                right: auto;
                top: 0;
                width: 100%;
                display: none;
                padding: 0;
                opacity: 1;
                text-align: left;
                z-index: 99999
            }

                .header-menu ul li {
                    width: 100%;
                    border-top: 1px solid rgba(120, 120, 120, 0.2)
                }

                .header-menu > ul > li > a, .header-menu ul ul li a, .header-menu ul ul li:first-child > a, .header-menu ul ul li:last-child > a {
                    border-radius: 0;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    background: none
                }

                .header-menu ul li a {
                }

                    .header-menu ul li a i {
                        display: none
                    }

                .header-menu ul ul ul li a {
                    color: #000;
                    padding-left: 45px !important
                }

        .header-menu #menu-button {
            color: #fff;
            font-size: 28px;
            display: inline-block;
            cursor: pointer;
            padding-top: 7px
        }

    .sticking .header-menu #menu-button {
        color: #2E5AE8
    }

    .header-menu .submenu-button {
        position: absolute;
        right: 0;
        display: block;
        width: 50px;
        height: 38px;
        border-left: 1px solid rgba(120, 120, 120, 0.2);
        z-index: 10;
        cursor: pointer
    }

    .header-menu ul ul .submenu-button {
        height: 42px
    }

    .header-menu .submenu-button:before {
        content: '';
        position: absolute;
        right: 22.5px;
        top: 18px;
        display: block;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-top-color: #2E5AE8;
        z-index: 99
    }

    .header-menu .submenu-opened:before {
        transform: rotate(180deg);
        top: 14px
    }

    .header-menu ul ul .submenu-button:before {
        top: 19.5px
    }

    .header-menu ul ul .submenu-button.submenu-opened:before {
        top: 15.5px
    }

    .header-menu #menu-button.menu-opened:before, .header-menu .submenu-button.submenu-opened:before {
        border-top-color: #2E5AE8
    }

    .header-menu > ul > li:hover > a, .header-menu > ul > li > a:hover {
        background: transparent
    }

    .header-menu > ul > li > ul, .header-menu ul ul ul {
        box-shadow: none
    }

        .header-menu > ul > li > ul:before, .header-menu ul ul ul:before {
            display: none
        }

        .header-menu ul ul ul li:first-child {
            padding-top: 0
        }

        .header-menu ul ul ul li:last-child {
            padding-bottom: 0
        }

    .header-menu ul ul li:hover > a, .header-menu ul ul li > a:hover {
        color: #757575
    }

    .sticking .header-menu > ul > li:hover:not(.active) > a {
        color: #1b435d
    }

    .header-menu ul ul ul:after {
        display: none
    }

    .single-home-feature {
        margin: 15px 0
    }

    .purchase:before {
        bottom: -27px
    }

    .single-pricing-plan {
        margin-bottom: 30px
    }

    .why-us-video {
        margin-top: 50px;
        max-width: 600px
    }

    .subscribe-wrap form input[type=submit] {
        padding: 8.5px 15px
    }

    .post-content h3 a {
        font-size: 16px;
        line-height: 22px
    }

    .main-footer {
        padding-top: 50px;
        margin-top: 150px
    }

    .footer-menu li:not(:last-child) {
        margin-right: 10px !important
    }

    .happy-counter li span {
        font-size: 30px
    }

    .happy-counter li p {
        font-size: 13px;
        letter-spacing: 1px
    }

    .domain-price li {
        padding: 8px 5px
    }

        .domain-price li + li {
            margin-left: 10px
        }

    .blog-left {
        margin-bottom: 50px
    }

    .blog-right {
        margin-top: 50px
    }

    .map {
        margin-bottom: 70px
    }

    .not-found-title img {
        margin-top: 15px
    }
}

@media (max-width: 767.98px) {
    .pt-175, .pt-120 {
        padding-top: 70px
    }

    .pb-175, .pb-120 {
        padding-bottom: 70px
    }

    .banner-content h2 {
        font-size: 36px
    }

    .main-banner {
        padding: 70px 0 100px
    }

    .banner-image img {
        max-width: 350px;
        margin-bottom: 30px
    }

    .news-letter-title {
        margin-bottom: 30px
    }

    .single-post {
        margin-bottom: 30px;
        height: auto
    }

    .our-clients {
        text-align: center
    }

        .our-clients li {
            display: inline-block;
            margin: 6.5px 5px !important;
            max-width: 150px
        }

    .footer-contacts ul li:last-child a + a {
        margin-left: 10px
    }

    .bottom-footer {
        text-align: center;
        padding: 30px 0
    }

    .footer-menu {
        margin-bottom: 10px
    }

    .latest-news {
        padding-bottom: 40px
    }

    .happy-counter li {
        width: 33.33333%;
        margin: 5px 0
    }

    .domain-price {
        margin-left: -10px;
        text-align: center
    }

        .domain-price li {
            margin-top: 6.5px;
            margin-bottom: 6.5px;
            margin-left: 10px !important;
            display: inline-block;
            width: 161px
        }

    .domain-table .thead-dark th {
        font-size: 16px
    }

    .domain-table tbody {
        font-size: 14px
    }

        .domain-table tbody a, .domain-table tbody a:hover {
            
            letter-spacing: 0
        }

    .contact-content {
        margin-bottom: 25px
    }

    .contact-social-icons {
        margin-bottom: 50px
    }

    .footer-menu li {
        padding: 10px 0
    }
}

@media (max-width: 575.98px) {
    .btn {
        padding: 8.5px 15px
    }

    .section-title {
        padding-bottom: 50px
    }

        .section-title h2 {
            font-size: 24px
        }

    .header-menu > ul {
        top: 31px !important
    }

    .banner-image img {
        max-width: 290px
    }

    .single-home-feature h3 {
        margin-top: 10px;
        margin-bottom: 15px;
        padding-top: 20px
    }

    .single-reason h3 {
        margin-bottom: 15px
    }

    .our-clients {
        margin-left: -5px !important;
        margin-right: -5px !important
    }

        .our-clients li {
            max-width: 122px
        }

    .main-footer {
        margin-top: 120px;
        padding-top: 0
    }

        .main-footer:before {
            top: -70px
        }

    .purchase {
        padding: 75px 0 30px
    }

        .purchase:before {
            bottom: -44px
        }

    .happy-counter li {
        width: 50%
    }

    .domain-checker input[type=text] {
        padding-left: 20px
    }

    .domain-price li {
        width: 122px
    }

    .single-sidebar-widget {
        padding: 25px 20px
    }

    .post-detail-content {
        padding: 20px
    }

        .post-detail-content h2 {
            font-size: 24px
        }

    .share-icons {
        margin-top: 10px
    }

    .comment-content > a {
        display: none
    }

    .comment-content p {
        max-width: 100%
    }

    .comment-reply {
        margin-left: 30px
    }

    .not-found-title h2 {
        font-size: 30px
    }
}
